[submodule "rhde-mapvizthing"]
	path = rhde-mapvizthing
	url = https://github.com/dudash/rhde-mapvizthing.git
[submodule "rhde-demo"]
	path = rhde-demo
	url = https://github.com/rlucente-se-jboss/rhde-demo.git
